:root {
  --odin-cv-primary-color: #0d1117;
  --odin-cv-sencondary-color: #646cff;
  --odin-cv-muted-color: #21262d;
  --odin-cv-muted-background: #dae5f4;
  --odin-cv-inset: 40px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--odin-cv-primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 0 0 32px;
}

h2 {
  position: relative;
  display: block;
  margin: 0 0 32px;
}

h2::before {
  content: '';
  display: block;
  width: 12%;
  height: 4px;
  position: absolute;
  bottom: -8px;
  border-radius: 4px;
  background: #646cff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

p.is-muted {
  color: var(--odin-cv-muted-color);
  opacity: 0.6;
}

ul {
  margin: 0 0 0 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

ul li button {
  margin-top: 6px;
  margin-bottom: 48px;
}

button {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background: var(--odin-cv-sencondary-color);
  font-weight: bold;
  cursor: pointer;
}

button.is-secondary {
  box-shadow: 0 0 0 2px var(--odin-cv-sencondary-color);
  background: transparent;
  color: var(--odin-cv-sencondary-color);
}

button.is-fluid {
  width: 100%;
}

#app {
  display: flex;
  width: min(100% - 12px, 1480px);
  margin-inline: auto;
  height: 100vh;
  overflow: hidden;
}

#app > div {
  padding: var(--odin-cv-inset);
  overflow-y: scroll
}

#app > div:nth-of-type(1) {
  flex: 0 1 30%;
  
}

#app > div:nth-of-type(2) {
  flex: 0 1 60%;
}

@media screen and (max-width: 1080px) {
  #app {
    display: block;
    overflow: visible;
  }

  #app > div:nth-of-type(1) {
    max-width: 600px;
    margin-inline: auto;
  }
}